.counter-button {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.219);
    color: white;
    border-color: white;
    border-style:solid;
}
.counter-button2 {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.219);
    color: white;
    border-color: white;
    border-style:solid;
}
input {
    background-color: rgba(240, 248, 255, 0);
    font-size: 30px;
    color:white;
    margin-bottom: 30%;
}
h1 {
    color: white;
}

#hint {
    color: greenyellow;
}

body {
    background-color: brown;
}

.plain1 {
    color:white;
    font-family: Arial, sans-serif;
    font-size: 30px;
    background: none;
    border: none;
}

.plain2 {
    color:white;
    font-family: Arial, sans-serif;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 10px;
    padding: 10px 10px;
}

.border {
    border-radius: 50px;
    padding: 0px 30px;
    margin: 10px;
    background-color: rgba(212, 212, 212, 0.219);
    border-color: rgba(255, 255, 255, 0.63);
    border-style:solid;
    align-items:center;
    display:inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 70px;
    align-content: center;
}
